<html>
    <head></head>
    <body>
        
        <div class = "row no-gutters">
            <div class="col md-6 no-gutters">
                <div class="leftside">
                    <img src="assets/defaults/bgimg.jpg" class="leftside">
                </div>
            </div>
            <div class="col md-6 no-gutters">
                <div class="rightside">
                    <div style="padding: 15%;">
                        <div align="center">
                            <img src="assets/defaults/evertz-logo.png" style="padding: 5%;"  width="500" height="250" class="col md-6">
                        </div>
                        <h1 align="center" class="text-warning">Password Reset</h1>
                        <form (ngSubmit)="onSubmit($event,username.value)">
                        <input type="text" class="col form-control " id="username" #username placeholder="EMPLOYEE ID"> <br>
                        
                        <button type="submit" class="col btn">Reset</button> 
                        <br> 
                        <br>
                        
                        <div  *ngIf="requestOnProgress == 'true'; then displayLoading"></div>
                        <ng-template #displayLoading>
                            <div align="center">
                                <div class="lds-roller" ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                            </div>
                        </ng-template>

                        <div class="col {{serverStatus_Error_Class}}" >
                            {{serverStatus_Error_Message}}
                          </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>