<h2 mat-dialog-title></h2>

<mat-dialog-content>
    <mat-form-field>
        <h4>Session Timed Out, Please login again to Use the services</h4>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions style="float: right;">
   <button class="btn-warning"   (click)="close()">Okay</button>
</mat-dialog-actions>