<html>
    <head></head>
    <body>        
        <div class = "row no-gutters" style="background: black;">
            <div class="col md-6 no-gutters">
                <div class="sidenav">
                    <img id="logo" src="assets/defaults/evertz-logo.png"> <br><br>.
                    <button class="sidenav-btn-change"><img class="icon" src="assets/defaults/employeeIcon.png"><p style="display:inline;">  Profile</p></button><br>
                </div>
            </div>
              
        </div>
        <div class="main" >
            <div> <!--class="stick-to-top"-->

                <div class = "row no-gutters" style="background: black;">
                    <div class="col-6 no-gutters" style="padding: 1%;">
                        <h3 style="color: white; padding-left: 170px;">Employee Details Form</h3>
                    </div>

                    <div class="col md-6 no-gutters" style="padding: 1%;">
                        <div class="dropdown" style="float: right;">
                            <button type="button" class="btn" (click)= "onSelect('dropdown-content')" style="float: left; background-color:black; border-style: none; color:white;text-indent: 0.3em;">{{employeeName}}<small style="float: right; color:white;"> ({{employeeCode}}) </small></button>
                            <img class="profile-dropdown" [src]="employeeProfilePic">
                            <div class="dropdown-content" *ngIf="currDiv == 'dropdown-content'">
                                <!--<button class="dropdown-btn" (click)="gotoHome()"><p><img class="icon-dropdown" src="assets/defaults/homegreyIcon.png" style="width:27%;"> Home</p></button> -->
                                <!--<button class="dropdown-btn"><p><img class="icon-dropdown" src="assets/defaults/settingIcon.png" style="width:30%;"> Settings</p></button> -->
                                <button class="dropdown-btn" (click)="userLogout()"><p><img class="icon-dropdown" src="assets/defaults/logIcon.png" style="width:25%;"> Log out</p></button>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div (click)= "checkDropDown()">

                    <!--Code Goes here-->

                    <div class="row no-gutters form-content" style="margin-left: 200px; margin-right: 20px;">
                        <div class="col-12" align="center">
                            <div class="container">
                                <div class={{serverStatus_Error_Class}}>
                                    <div *ngIf="serverStatus_Error_Class !=''">
                                        <a (click)="closealertbtn()" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {{serverStatus_Error_Message}}
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                        <div class="col-12 no-gutters">
                            <div align="center">
                                <marquee><h3 style="color:yellow;">Welcome {{employeeName}} Please Submit your details</h3></marquee>
                            </div>
                        </div>
                    </div> -->

                    
                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-4 no-gutters">

                            </div>
                            <div class="col-4 no-gutters" align="center">
                                <h2 style="color:yellow;"><b>Employee Details</b></h2>
                            </div>
                            <div class="col-4 no-gutters">
                                
                            </div>
                        </div>
                        
                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-4 no-gutters">
                                <h3 style="color: white;">Employee Name: {{employeeName}}</h3>
                                <h3 style="color: white;">Employee Code: {{employeeCode}}</h3>
                                <h4 style="color: white;">Date Of Birth</h4>
                                <mat-form-field>
                                    <input matInput #dob
                                    class="input-text" 
                                    [matDatepicker]="picker1">
                                    <mat-datepicker-toggle style="color: yellow;" matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                                <div *ngIf="dob.value == ''" class="form-input-validator">
                                    Date Of Birth is required.
                                </div>
                            </div>
                            <div class="col-6 no-gutters">
                                
                            </div>
                            <div class="col-2 no-gutters">
                                <img class="profile-pic" [src]="employeeProfilePic"/>
                                <div class="image-upload">
                                    <label for="file-input">
                                        <img src="assets/defaults/cameraIcon.png" class="profile-button" style="width:35px; height: 30px;" >
                                    </label>
                                    <input id="file-input" type="file" (change)="changeProfilePic($event)"/>
                                </div>
                            </div>
                        </div>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-6 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Email ID</h4>
                                    <input type="text" #email class="form-control input-text shadow-none" required>
                                    <div *ngIf="email.value == ''" class="form-input-validator">
                                        Email ID is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Mobile Number</h4>
                                    <input type="text" #mobile class="form-control input-text shadow-none" required>
                                    <div *ngIf="mobile.value == ''" class="form-input-validator">
                                        Mobile Number is required.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br><br>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-4 no-gutters">

                            </div>
                            <div class="col-4 no-gutters" align="center">
                                <h2 style="color:yellow;"><b>Highest Education Details</b></h2>
                            </div>
                            <div class="col-4 no-gutters">

                            </div>
                        </div>

                        <br>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-6 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Education Type</h4>
                                    <select class="form-control input-text shadow-none" #edutype>
                                        <!--<option value="Intermediate">Intermediate</option>-->
                                        <option *ngFor="let edu of educationType" [value]="edu.Id">{{edu.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Education Branch</h4>
                                    <select class="form-control input-text shadow-none" #edubranch>
                                        <!--<option value="CSE">CSE</option>-->
                                        <option *ngFor="let edutype of educationBranch" [value]="edutype.Id">{{edutype.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-6 no-gutters">
                                <label class="mat-label-radio form-group">What Is The Scoring Method? </label>
                                <br>
                                <mat-radio-group class="mat-label-radio" [(ngModel)]="isGrade">
                                    <mat-radio-button class="mat-label-radio" value="yes" >Grade</mat-radio-button> 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <mat-radio-button class="mat-label-radio" value="no">Percentage</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-6 no-gutters">
                                <ng-container *ngIf="isGrade == 'yes';">
                                    <div class="form-group">
                                        <h4 style="color: white;">Choose Your Grade</h4>
                                        <select class="form-control input-text shadow-none" [(ngModel)]="grade">
                                            <!--<option value="A">A</option> -->
                                            <option *ngFor="let grade of gradeList" [value]="grade.Id">{{grade.Name}}</option>
                                        </select>
                                    </div>  
                                </ng-container>
                                <ng-container *ngIf="isGrade == 'no';">
                                    <div class="form-group">
                                        <h4 style="color: white;">Provide your percentage Details</h4>
                                        <input type="text" [(ngModel)]="percentage" class="form-control input-text shadow-none" required>
                                        <div *ngIf="percentage == ''" class="form-input-validator">
                                            Percentage value is required.
                                        </div>
                                    </div>  
                                </ng-container>
                            </div>
                        </div>

                        <br><br><br>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-4 no-gutters">

                            </div>
                            <div class="col-4 no-gutters" align="center">
                                <h2 style="color:yellow;"><b>Document Details</b></h2>
                            </div>
                            <div class="col-4 no-gutters">

                            </div>
                        </div>

                        <br>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-6 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Document 1</h4>
                                    <select class="form-control input-text shadow-none" #doc1>
                                        <!--<option value="Aadhar">Aadhar</option> -->
                                        <option *ngFor="let doc of docType" [value]="doc.Id">{{doc.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Document 1 Details</h4>
                                    <input type="text" #doc1val class="form-control input-text shadow-none" required>
                                    <div *ngIf="doc1val.value == ''" class="form-input-validator">
                                        Document value is required.
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-6 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Document 2</h4>
                                    <select class="form-control input-text shadow-none" #doc2>
                                        <!--<option value="Aadhar">Aadhar</option> -->
                                        <option *ngFor="let doc of docType" [value]="doc.Id">{{doc.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Document 2 Details</h4>
                                    <input type="text" #doc2val class="form-control input-text shadow-none" required>
                                    <div *ngIf="doc2val.value == ''" class="form-input-validator">
                                        Document value is required.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br><br>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-4 no-gutters">

                            </div>
                            <div class="col-4 no-gutters" align="center">
                                <h2 style="color:yellow;"><b>Experience Details</b></h2>
                            </div>
                            <div class="col-4 no-gutters">

                            </div>
                        </div>

                        <br>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-12 no-gutters" align="center">
                                <label class="mat-label-radio form-group">Do You Have Previous Work Experience? </label>
                                <br>
                                <mat-radio-group class="mat-label-radio" [(ngModel)]="isExperienced">
                                    <mat-radio-button class="mat-label-radio" value="yes" >Yes</mat-radio-button> 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <mat-radio-button class="mat-label-radio" value="no">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <br>
                        <ng-container *ngIf="isExperienced == 'yes';">
                            <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                                <div class="col-6 no-gutters">
                                    <div class="form-group">
                                        <h4 style="color: white;">Company Name</h4>
                                        <input type="text" [(ngModel)]=prevCompany class="form-control input-text shadow-none" required>
                                        <div *ngIf="prevCompany == ''" class="form-input-validator">
                                            Company is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 no-gutters">
                                    <div class="form-group">
                                        <h4 style="color: white;">Designation</h4>
                                        <input type="text" [(ngModel)]=prevCompanyDesignation class="form-control input-text shadow-none" required>
                                        <div *ngIf="prevCompanyDesignation == ''" class="form-input-validator">
                                            Designation is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                                <div class="col-6 no-gutters">
                                    <h4 style="color: white;">Worked From</h4>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]=workdFrom
                                        class="input-text shadow-none"
                                        [matDatepicker]="picker2">
                                        <mat-datepicker-toggle style="color: yellow;" matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="workdFrom == ''" class="form-input-validator">
                                        Worked From is required.
                                    </div>
                                </div>
                                <div class="col-6 no-gutters">
                                    <h4 style="color: white;">Worked Till</h4>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]=workedTill
                                        class="input-text shadow-none"
                                        [matDatepicker]="picker3">
                                        <mat-datepicker-toggle style="color: yellow;" matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="workedTill == ''" class="form-input-validator">
                                        Worked till is required.
                                    </div>
                                </div>
                            </div> 
                        </ng-container>

                        <br><br><br>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-4 no-gutters">

                            </div>
                            <div class="col-4 no-gutters" align="center">
                                <h2 style="color:yellow;"><b>Passport Details</b></h2>
                            </div>
                            <div class="col-4 no-gutters">

                            </div>
                        </div>

                        <br>
                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-12 no-gutters" align="center">
                                <label class="mat-label-radio form-group">Do You Have Passport? </label>
                                <br>
                                <mat-radio-group class="mat-label-radio" [(ngModel)]="isPassportHolder">
                                    <mat-radio-button class="mat-label-radio" value="yes" >Yes</mat-radio-button> 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <mat-radio-button class="mat-label-radio" value="no">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <br>
                        <ng-container *ngIf="isPassportHolder == 'yes';">
                            <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                                <div class="col-6 no-gutters">
                                    <div class="form-group">
                                        <h4 style="color: white;">Name On Passport</h4>
                                        <input type="text" #passname [(ngModel)]="passportName" class="form-control input-text shadow-none" required>
                                        <div *ngIf="passportName == ''" class="form-input-validator">
                                            Passport Name is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 no-gutters">
                                    <div class="form-group">
                                        <h4 style="color: white;">Passport Number</h4>
                                        <input type="text" #passnumber [(ngModel)]="passportNumber" class="form-control input-text shadow-none" required>
                                        <div *ngIf="passportNumber == ''" class="form-input-validator">
                                            Passport Number is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                                <div class="col-6 no-gutters">
                                    <h4 style="color: white;">Date Of Passport Issue</h4>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="passportIssueDay"
                                        class="input-text shadow-none"
                                        [matDatepicker]="picker4">
                                        <mat-datepicker-toggle style="color: yellow;" matSuffix [for]="picker4"></mat-datepicker-toggle>
                                        <mat-datepicker #picker4></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="passportIssueDay == ''" class="form-input-validator">
                                        Date Of Passport Issue is required.
                                    </div>
                                </div>
                                <div class="col-6 no-gutters">
                                    <h4 style="color: white;">Expirey Date</h4>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="passportExpDay"
                                        class="input-text shadow-none"
                                        [matDatepicker]="picker5">
                                        <mat-datepicker-toggle style="color: yellow;" matSuffix [for]="picker5"></mat-datepicker-toggle>
                                        <mat-datepicker #picker5></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="passportExpDay == ''" class="form-input-validator">
                                        Expirey Date is required.
                                    </div>
                                </div>
                            </div>
    
                            <br>
    
                            <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                                <div class="col-12 no-gutters" align="center">
                                    <label class="mat-label-radio form-group">Do You Have Visa? </label>
                                    <br>
                                    <mat-radio-group class="mat-label-radio" [(ngModel)]="isVisaHolder">
                                        <mat-radio-button class="mat-label-radio" value="yes" >Yes</mat-radio-button> 
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <mat-radio-button class="mat-label-radio" value="no">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <br>
                            <ng-container *ngIf="isVisaHolder == 'yes';">
                                <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                                    <div class="col-4 no-gutters">
                                        <div class="form-group">
                                            <h4 style="color: white;">Visa Issues On Which Country?</h4>
                                            <select class="form-control input-text shadow-none" [(ngModel)]=vcountry>
                                                <!--<option value="India">India</option> -->
                                                <option *ngFor="let country of passportCountry" [value]="country.Id">{{country.Name}}</option>
                                            </select>
                                            <div *ngIf="vcountry == ''" class="form-input-validator">
                                                Visa Country is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 no-gutters">
                                        <div class="form-group">
                                            <h4 style="color: white;">Visa Number</h4>
                                            <input type="text" [(ngModel)]="vnumber" class="form-control input-text shadow-none" required>
                                            <div *ngIf="vnumber == ''" class="form-input-validator">
                                                Visa Number is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 no-gutters">
                                        <h4 style="color: white;">Visa Expirey Date</h4>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="vexpirey"
                                        class="input-text shadow-none"
                                        [matDatepicker]="picker6">
                                        <mat-datepicker-toggle style="color: yellow;" matSuffix [for]="picker6"></mat-datepicker-toggle>
                                        <mat-datepicker #picker6></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="vexpirey == ''" class="form-input-validator">
                                    Visa Expirey Date is required.
                                    </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        

                        <br><br><br>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-4 no-gutters">

                            </div>
                            <div class="col-4 no-gutters" align="center">
                                <h2 style="color:yellow;"><b>Bank Details</b></h2>
                            </div>
                            <div class="col-4 no-gutters">

                            </div>
                        </div>

                        <br>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-4 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Bank Name</h4>
                                    <select class="form-control input-text shadow-none" #ebank [(ngModel)]="selectedbank" (change)="getBankBranchList()">
                                        <option value="">-</option>
                                        <option *ngFor="let bank of bankNameList" [value]="bank.Id">{{bank.Name}}</option>
                                    </select>
                                    <div *ngIf="ebank.value == ''" class="form-input-validator">
                                        Bank Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Account Number</h4>
                                    <input type="text" #accno class="form-control input-text shadow-none" required>
                                    <div *ngIf="accno.value == ''" class="form-input-validator">
                                        Account Number is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Account Holder Name</h4>
                                    <input type="text" #accname class="form-control input-text shadow-none" required>
                                    <div *ngIf="accname.value == ''" class="form-input-validator">
                                        Account Holder Name is required.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-4 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Bank Branch</h4>
                                    <select class="form-control input-text shadow-none" #ebankbranch [(ngModel)]="selectedbranchId" (change)="getBranchDetails()">
                                        <option value="">-</option> 
                                        <option *ngFor="let bank of bankBranchList" [value]="bank.Id">{{bank.BankBranch}}</option>
                                    </select>
                                    <div *ngIf="ebankbranch.value == ''" class="form-input-validator">
                                        Bank Branch is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">IFSC Code</h4>
                                    <input type="text" #ifsc value="{{selectedbranch.IFSCCode}}" class="form-control input-text shadow-none" required disabled>
                                    <!--<div *ngIf="ifsc.value == ''" class="form-input-validator">
                                        IFSC Code is required.
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-4 no-gutters">
                                <div class="form-group">
                                    <h4 style="color: white;">Swift Code</h4>
                                    <input type="text" #swiftcode  value="{{selectedbranch.SwiftCode}}" class="form-control input-text shadow-none" required disabled>
                                    <!--<div *ngIf="swiftcode.value == ''" class="form-input-validator">
                                        Swift Code is required.
                                    </div>-->
                                </div>
                            </div>
                        </div>

                        <br><br><br>

                        <div class="row no-gutters" style="margin-left: 200px; margin-right: 25px;">
                            <div class="col-4">
                                        
                            </div>
                            <div class="col-4">
                                <div *ngIf="showProgressBar;else submit_to_save">
                                    <div align="center">
                                        <div class="lds-roller" ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                    </div>
                                </div>
                                <ng-template #submit_to_save>
                                    <div align="center">
                                    <button type="submit" class="form-btn btn-warning" 
                                    (click)="addEmployeeDetailsToDB(dob.value,email.value,mobile.value,
                                    edutype.value,edubranch.value,
                                    doc1.value,doc1val.value,doc2.value,doc2val.value,
                                    ebank.value,accno.value,ebankbranch.value,accname.value)"
                                    >Submit & Proceed</button>
                                    </div>
                                </ng-template>
                                
                            </div>
                            <div class="col-4">
                                
                            </div>
                        </div>
                        
                        <br><br><br>
                    
                </div>
            </div>
        </div>
    </body>
</html>