.leftside, .rightside{
  height: 100vh;
  width: 100vw;
  overflow: auto
}

.leftside{
  background:red;
  
}

table{
  width: 100%;
}

.first-column-border{
  width:30%;
  border-right-style: solid ;
  border-right-color: white ;
}

th,td{
  padding:2%;
}


.rightside{
  background: black;
  
}

body{
  background: black;
  min-width:1000px;        
  width: auto !important;  
  width:1000px; 
}

.stick-to-top{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  
}

#logo{
  float: left;
  width: 100px;
  height:30px;
}

.profile-dropdown{
  float: right;
  border-radius:50%;
  width: 35px;
  height:35px;
}

.dropdown-content {
  overflow:hidden;
  display: block;
  height:355%;
  width:45%;
  position: absolute;
  top:50px;
  left:46%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: small;
  border-style: solid;
  border-color:  #f9f9f9;
  border-radius: 9%;
}

.dropdown-btn{
  height:34%;
  width:100%;
  text-align: left;
  background-color: #f9f9f9;
  border-style: none;
  outline-style: none;
}

.dropdown-btn:hover{
  color: yellow;
 background: rgba(0,0,0,0.2);
}

/*.dropdown:hover .dropdown-content {
  display: block;
}*/

.icon{
  display:inline;
  width:12%;
}

.icon-dropdown{
  display:inline;
}
.active {
  background-color: #000; border-left:5px solid #069;
}
/*p:hover{
  border-bottom: 1px solid yellow;
}*/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 1%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: yellow;
}

.sidenav-btn{
  height: 7%;
  background-color: #111;
  border-style: none;
  outline-style: none;
  text-align: left;
  color: white;
  padding: 3%;
}

.sidenav-btn-change{
  border-top-style:none ;
  border-bottom-style:none ;
  border-right-style:none ;
  border-left-style: solid;
  border-left-color:yellow ;
  color: yellow;
  margin-top: 10%;
  background-color: #111;
  background: black;
  outline-style: none;
  text-align: left;
  padding: 3%;
  height: 7%;
}

.sidenav-btn:hover{
  background-color: black;
}

.sidenav-btn-change:hover{
  background-color: black;
}

.main {
  background: black;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.box{
  float:left;
  position:relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 6%;
  width: 82%;
  background-color: black;
  color: silver;
  
}

.box-heading{
  position:relative;
  top:3%;
  left:5%;
  width:90%;
  font-size: 130%;
  background-color: yellow;
  color:black;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

.box-content{
  width:90%;
  height:83%;
  overflow:auto;
  margin-left: 5%;
}

mat-card{
  background-color: black;
  margin: 0 auto;
  display:inline-block;
  height:95%;
  width:70%;
  overflow:auto;
  color: white;
}

mat-card-content{
  text-align: center;
}

.birthday-profile{
  width:100%;
  height:100%;
  border-radius: 50%;
  border-style: solid;
}

.arrow-btn{
  padding: 0%;
  display:inline-block;
  width:15%;
  background-color: black;
  border-style: none;
}