<html>
    <head></head>
    <body>
        
        <div class = "row no-gutters">
            <div class="col md-6 no-gutters">
                <div class="leftside">
                    <img src="assets/defaults/bgimg.jpg" class="leftside">
                </div>
            </div>
            <div class="col md-6 no-gutters">
                <div class="rightside">
                    <div style="padding: 15%;"> 
                        <div align="center">
                            <img src="assets/defaults/evertz-logo.png" style="padding: 5%;"  width="500" height="250" class="col md-6">
                        </div>
                        <h1 align="center" class="text-warning">Employee Portal</h1>
                        <form (ngSubmit)="onSubmit($event,username.value,password.value)">
                        <input type="text" class="col form-control input-text shadow-none" id="username" #username placeholder="EMPLOYEE CODE"> <br>
                        <input type="password" class="col form-control input-text shadow-none" id="password" #password placeholder="PASSWORD"> <br>
                        <button type="submit" class="col btn">Login</button> 
                        <br> 
                        <br>
                        <div  *ngIf="showForgetPassword == 'true'; then displayForgetPasswordLink" ></div>
                            <ng-template #displayForgetPasswordLink >
                                <div align="center">
                                    <a href="#" class="btn-default"><span class="glyphicon glyphicon-arrow-right"></span>forget password? </a>
                                    <br>
                                    <br>
                                </div>
                            </ng-template>
                        <div  *ngIf="loginProgress == 'true'; then displayLoading"></div>
                        <ng-template #displayLoading>
                            <div align="center">
                                <div class="lds-roller" ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                            </div>
                        </ng-template>

                        <div class="container">
                            <div class={{serverStatus_Error_Class}}>
                                <div *ngIf="serverStatus_Error_Class !=''">
                                    <a (click)="closealertbtn()" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{serverStatus_Error_Message}}
                                </div> 
                            </div>
                        </div>


                    </form>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>