<html>
    <head></head>
    <body>
        <div class = "row no-gutters" style="background: black;">
            <div class="col md-6 no-gutters">
                <div class="sidenav">
                    <img id="logo" src="assets/defaults/evertz-logo.png"> <br><br>.
                    <button class="sidenav-btn-change" style="margin-top: 2%;"><img class="icon" src="assets/defaults/homeIcon.png"><p style="display:inline;">  Home</p></button><br>
                    <button class="sidenav-btn"><img class="icon" src="assets/defaults/employeeIcon.png"><p style="display:inline;">  Profile</p></button><br>
                    <button class="sidenav-btn"><img class="icon" src="assets/defaults/payrollIcon.jpg"><p style="display:inline;">  Payroll </p></button><br>
                    <button class="sidenav-btn"><img class="icon" src="assets/defaults/leaveIcon.png"><p style="display:inline;">  Leaves </p></button><br>
                    <!--<button class="sidenav-btn"><img class="icon" src="assets/defaults/trainingIcon.jpg"><p style="display:inline;">  Training </p></button><br> -->
                    <button class="sidenav-btn"><img class="icon" src="assets/defaults/travelIcon.jpg"><p style="display:inline;">  Travel </p></button><br> 
                    <button class="sidenav-btn" (click)="gotoTools()"><img class="icon" src="assets/defaults/toolsIcon.png"><p style="display:inline;">  Tools </p></button><br>
                </div>
            </div>
            
        </div>
        <div class="main" >
            <div> <!--class="stick-to-top"-->

                <div class = "row no-gutters" style="background: black;">
                    <div class="col md-6 no-gutters" style="padding: 1%;">
                        <div class="dropdown" style="float: right;">
                            <button type="button" class="btn" (click)= "onSelect('dropdown-content')" style="float: left; background-color:black; border-style: none; color:white;text-indent: 0.3em;">{{employeeName}}<small style="float: right; color:white;"> ({{employeeCode}}) </small></button>
                            <img class="profile-dropdown" [src]="employeeProfilePic">
                            <div class="dropdown-content" *ngIf="currDiv == 'dropdown-content'">
                                <button class="dropdown-btn" (click)="gotoHome()"><p><img class="icon-dropdown" src="assets/defaults/homegreyIcon.png" style="width:27%;"> Home</p></button>
                                <button class="dropdown-btn"><p><img class="icon-dropdown" src="assets/defaults/settingIcon.png" style="width:30%;"> Settings</p></button>
                                <button class="dropdown-btn" (click)="userLogout()"><p><img class="icon-dropdown" src="assets/defaults/logIcon.png" style="width:25%;"> Log out</p></button>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div (click)= "checkDropDown()">
                    <div class="row no-gutters" style="margin-left: 180px;">
                        <div class="col-12 no-gutters">
                            <div class="box" style="height: 80%; width:95%;">
                                <p class="box-heading">Notifications</p>
                                <div class="box-content" style="height:65%;">
                                    <ul>
                                        <li>John draw real poor on call my from. May she mrs furnished discourse extremely. </li>
                                        <li>Ask doubt noisy shade guest did built her him. Ignorant repeated hastened it do.</li> 
                                        <li>Consider bachelor he yourself expenses no. Her itself active giving for expect vulgar months.</li>
                                        <li>Discovery commanded fat mrs remaining son she principle middleton neglected. Be miss he in post </li>
                                        <li>sons held. No tried is defer do money scale rooms. Was justice improve age article between.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <br><br>


                    <div class="row no-gutters" style="margin-left: 200px;">
                    
                        <div class="col-6 no-gutters" >
                            <div class="box" style="height: 100%; margin-right: 4%; padding-bottom: 5%;">
                                <p class="box-heading">Today's Birthday</p>
                                <div class="box-content" style="margin-left:13%; width:70%; padding-top:5%; height: 90%;">
                                    <button class="arrow-btn"><img src="assets/defaults/arrowPrev.png" style="position:absolute; right:80%; bottom:40%; width:10%; height:13%;"></button>
                                    <mat-card>
                                        <mat-card-content>
                                            <img class="birthday-profile" src="assets/defaults/profile.png">
                                            <br><p style="padding-top: 2%; font-size:x-large; ">Abigail Gracias</p><p style="line-height: 2%;">May 07 2020</p>
                                        </mat-card-content>
                                    </mat-card>
                                    <button class="arrow-btn"><img src="assets/defaults/arrowNext.png" style="position: absolute; bottom:40%; width:10%; height:13%;"></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 no-gutters" >
                            <div class="box" style="height: 100%; margin-right: 4%;">
                                <p class="box-heading">Holiday Calendar</p>
                                <div class="box-content">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br><br>

                </div>
            </div>
        </div>
    </body>
</html>