<html>
    <head>
        <title>Evertz Management</title>
    </head>
    <body>
        <ngx-loading-bar></ngx-loading-bar>
        <div class = "row no-gutters" style="background: black;">
            <div class="col md-6 no-gutters">
                <div class = "row no-gutters" style="background: black;">
                    <div class="col md-6 no-gutters">
                        <div class="sidenav">
                                <img id="logo" src="assets/defaults/evertz-logo.png"> <br><br>.
                                <button class="sidenav-btn" style="margin-top: 2%;" (click)="gotoHome()"><img class="icon" src="assets/defaults/homeIcon.png"><p style="display:inline;">  Home</p></button><br>
                                <button class="sidenav-btn"><img class="icon" src="assets/defaults/employeeIcon.png"><p style="display:inline;">  Profile</p></button><br>
                                <button class="sidenav-btn"><img class="icon" src="assets/defaults/payrollIcon.jpg"><p style="display:inline;">  Payroll </p></button><br>
                                <button class="sidenav-btn"><img class="icon" src="assets/defaults/leaveIcon.png"><p style="display:inline;">  Leaves </p></button><br>
                                <!--<button class="sidenav-btn"><img class="icon" src="assets/defaults/trainingIcon.jpg"><p style="display:inline;">  Training </p></button><br> -->
                                <button class="sidenav-btn"><img class="icon" src="assets/defaults/travelIcon.jpg"><p style="display:inline;">  Travel </p></button><br> 
                                <button class="sidenav-btn-change" (click)="showTools()"><img class="icon" src="assets/defaults/toolsIcon.png"><p style="display:inline;">  Tools </p></button><br>
                                <div  *ngIf="showToolsOptions == 'true'; then displayToolsOptions"></div>
                                <ng-template #displayToolsOptions>
                                    <div *ngFor="let btncssAndFunction of toolsOptionsList; let i = index">
                                        <button class="{{toolsCssHighlighter[i]}}" (click)="changeHighlighterMoveToFunction(btncssAndFunction.SortOrder)"><p style="display:inline;">{{btncssAndFunction.FunctionName}}</p></button><br>
                                    </div>
                                </ng-template> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        
        <div class="main" >
            <div> <!--class="stick-to-top"-->
                <div class = "row no-gutters" style="background: black;">
                    <ng-container *ngIf="displayFunction != '';">
                        <div class="col-6 no-gutters" style="padding: 1%;">
                            <h3 style="color: white; padding-left: 170px;">{{displayFunction.FunctionName}}</h3>
                        </div>
                    </ng-container>

                    <div class="col md-6 no-gutters" style="padding: 1%;">
                        <div class="dropdown" style="float: right;">
                            <button type="button" class="btn" (click)= "onSelect('dropdown-content')" style="float: left; background-color:black; border-style: none; color:white;text-indent: 0.3em;">{{employeeName}}<small style="float: right; color:white;"> ({{employeeCode}}) </small></button>
                            <img class="profile-dropdown" [src]="employeeProfilePic">
                            <div class="dropdown-content" *ngIf="currDiv == 'dropdown-content'">
                                <button class="dropdown-btn" (click)="gotoHome()"><p><img class="icon-dropdown" src="assets/defaults/homegreyIcon.png" style="width:27%;"> Home</p></button>
                                <button class="dropdown-btn"><p><img class="icon-dropdown" src="assets/defaults/settingIcon.png" style="width:30%;"> Settings</p></button>
                                <button class="dropdown-btn" (click)="userLogout()"><p><img class="icon-dropdown" src="assets/defaults/logIcon.png" style="width:25%;"> Log out</p></button>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div (click)= "checkDropDown()" class="function-pannel"> 

                    <!--Loader-->
                    <ng-container *ngIf="displayLoading == 'true';">
                        <div class="row no-gutters">
                            <div class="col-12 no-gutters center-screen">
                                <div align="center">
                                    <div class="lds-roller" ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                </div>
                            </div>
                        </div>
                    </ng-container>


                    <!--Add Employee-->
                    <ng-container *ngIf="displayFunctionCode == '1';">
                        <form (ngSubmit)="addEmployeeToDB(firstname.value,middlename.value,lastname.value,Gender.value,doj.value,Designation.value,team.value,worklocation.value,dept.value,useraccess.value)">
                            <div class="row no-gutters form-content">
                                <div class="col-11" align="center">
                                    <div class="container">
                                        <div class={{serverStatus_Error_Class}}>
                                            <div *ngIf="serverStatus_Error_Class !=''">
                                                <a (click)="closealertbtn()" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                {{serverStatus_Error_Message}}
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <br><br>
                            <div class="row no-gutters form-content">
                                <div class="col-4">
                                    <div class="form-group">
                                        <h4 style="color: white;">First Name</h4>
                                        <input type="text" #firstname class="form-control input-text shadow-none" required>
                                        <div *ngIf="firstname.value == ''" class="form-input-validator">
                                            First Name is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <h4 style="color: white;">Middle Name</h4>
                                        <input type="text" #middlename class="form-control input-text shadow-none">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <h4 style="color: white;">Last Name</h4>
                                        <input type="text" #lastname class="form-control input-text shadow-none" required>
                                        <div *ngIf="lastname.value == ''" class="form-input-validator">
                                            Last Name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row no-gutters form-content">
                                <div class="col-4">
                                    <h4 style="color: white;">Gender</h4>
                                    <select class="form-control input-text shadow-none" #Gender> 
                                        <option *ngFor="let gen of gender" [value]="gen.Id">{{gen.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <h4 style="color: white;">Date Of Joining</h4>
                                    <mat-form-field>
                                        <input matInput #doj
                                        class="input-text shadow-none" 
                                        [matDatepicker]="picker1">
                                        <mat-datepicker-toggle style="color: yellow;" matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="doj.value == ''" class="form-input-validator">
                                        Date Of Joining is required.
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <h4 style="color: white;">Designation</h4>
                                        <select class="form-control input-text shadow-none" #Designation> 
                                            <option *ngFor="let des of designation" [value]="des.Id">{{des.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row no-gutters form-content">
                                <div class="col-4">
                                    <h4 style="color: white;">Assigned To Team</h4>
                                    <select class="form-control input-text shadow-none" #team> 
                                        <option *ngFor="let team of teams" [value]="team.Id">{{team.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <h4 style="color: white;">Work Location</h4>
                                    <select class="form-control input-text shadow-none" #worklocation>
                                        <option *ngFor="let reg of region" [value]="reg.Id">{{reg.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <h4 style="color: white;" >Department</h4>
                                    <select class="form-control input-text shadow-none" #dept>
                                        <option *ngFor="let dept of department" [value]="dept.Id">{{dept.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <br><br><br>
                            <div class="row no-gutters form-content">
                                <div class="col-4">

                                </div>
                                <div class="col-4">
                                    <h4 style="color: white;" >User Access</h4>
                                    <select class="form-control input-text shadow-none" #useraccess>
                                        <option *ngFor="let uaccess of userAccess" [value]="uaccess.Id">{{uaccess.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    
                                </div>
                            </div>
                            <br><br><br>
                            <!--<div class="row no-gutters form-content">
                                <div class="col-4">
                                    <h4 style="color: white;">Employee ID</h4>
                                    <input type="text" class="form-control input-text" value={{newEmpId}} disabled >
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <h4 style="color: white;">Username</h4>
                                        <input type="text" class="form-control input-text" required>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <h4 style="color: white;">Password</h4>
                                        <input type="password" class="form-control input-text" required>
                                    </div>
                                </div>
                            </div>
                            <br><br><br> -->
                            <div class="row no-gutters form-content">
                                <div class="col-4">
                                    
                                </div>
                                <div class="col-4">
                                    <div *ngIf="showProgressBar;else submit_to_save">
                                        <div style="padding-left: 20%;">
                                            <div class="lds-roller" ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                        </div>
                                    </div>
                                    <ng-template #submit_to_save>
                                        <button type="submit" class="form-btn btn-warning" 
                                        >Add Employee</button>
                                    </ng-template>
                                    
                                </div>
                                <br><br><br><br>
                                <div class="col-4">
                                    
                                </div>
                            </div>                           
                        </form>
                    </ng-container>

                    <ng-container *ngIf="displayFunctionCode == '2';">
                        <div class="row">
                            <div class="col bg-success">.col</div>
                            <div class="col-6 bg-warning">{{displayFunction.FunctionName}}</div>
                            <div class="col bg-success">.col</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="displayFunctionCode == '3';">
                        <div class="row">
                            <div class="col bg-success">.col</div>
                            <div class="col-6 bg-warning">{{displayFunction.FunctionName}}</div>
                            <div class="col bg-success">.col</div>
                          </div>
                    </ng-container>

                    <ng-container *ngIf="displayFunctionCode == '4';">
                        <div class="row">
                            <div class="col bg-success">.col</div>
                            <div class="col-6 bg-warning">{{displayFunction.FunctionName}}</div>
                            <div class="col bg-success">.col</div>
                          </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </body>
</html>