<html>
    <head></head>
    <body>
        <div class = "row no-gutters" style="background: black;">
            <div class="col md-6 no-gutters">
                <div class="sidenav">
                    <img id="logo" src="assets/defaults/evertz-logo.png"> <br><br>.
                    <button class="sidenav-btn" style="margin-top: 2%;"><img class="icon" src="assets/defaults/homeIcon.png"><p style="display:inline;">  Home</p></button><br>
                    <button class="sidenav-btn"><img class="icon" src="assets/defaults/employeeIcon.png"><p style="display:inline;">  Profile</p></button><br>
                    <button class="sidenav-btn"><img class="icon" src="assets/defaults/payrollIcon.jpg"><p style="display:inline;">  Payroll </p></button><br>
                    <button class="sidenav-btn-change"><img class="icon" src="assets/defaults/leaveIcon.png"><p style="display:inline;">  Leaves </p></button><br>
                    <button class="sidenav-btn"><img class="icon" src="assets/defaults/trainingIcon.jpg"><p style="display:inline;">  Training </p></button><br>
                    <button class="sidenav-btn"><img class="icon" src="assets/defaults/travelIcon.jpg"><p style="display:inline;">  Travel </p></button><br> 
                </div>
            </div>
        </div>

        <div class="main">
            <div> <!--class="stick-to-top"-->
                <div class = "row no-gutters" style="background: black;">
                    <div class="col md-6 no-gutters" style="padding: 1%;">
                        <div class="dropdown" style="float: right;">
                            <button type="button" class="btn" (click)= "onSelect('dropdown-content')" style="float: left; background-color:black; border-style: none; color:white;text-indent: 0.3em;">Joshua Selwyn<small style="float: right; color:white;"> (EID005) </small></button>
                            <img class="profile-dropdown" src="assets/defaults/profile.png">
                            <div class="dropdown-content" *ngIf="currDiv == 'dropdown-content'">
                                <button class="dropdown-btn"><p><img class="icon-dropdown" src="assets/defaults/homegreyIcon.png" style="width:27%;"> Home</p></button>
                                <button class="dropdown-btn"><p><img class="icon-dropdown" src="assets/defaults/settingIcon.png" style="width:30%;"> Settings</p></button>
                                <button class="dropdown-btn"><p><img class="icon-dropdown" src="assets/defaults/logIcon.png" style="width:25%;"> Log out</p></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <br>
                <div (click)= "checkDropDown()">
                    <ng-container *ngIf="displayFunctionCode == '2';">
                        <div class="row no-gutters" style="margin-left: 180px;">
                            <div class="col-12 no-gutters">
                                <h1>Apply</h1>
                                <table class="leave-table" style="width:90%; margin-left: 5%;">
                                    <tr>
                                        <th>sl.no</th>
                                        <th>Leave Type</th>
                                        <th>Pending</th>
                                        <th>Apply</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>personal</td>
                                        <td>3</td>
                                        <td><button class="yellow-btn" (click)= "onApply('1')">Apply</button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>sick leave</td>
                                        <td>3</td>
                                        <td><button class="yellow-btn" (click)= "onApply('1')">Apply</button></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>paid leave</td>
                                        <td>3</td>
                                        <td><button class="yellow-btn" (click)= "onApply('1')">Apply</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br><br><br>
                        <div class="row no-gutters" style="margin-left: 180px;">
                            <div class="col-12 no-gutters">
                                <h1>Leave History</h1>
                                <table class="leaveTable" style="width:90%; margin-left: 5%;">
                                    <tr>
                                        <th>sl.no</th>
                                        <th>Leave Type</th>
                                        <th>Leave Duration</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Status</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>personal</td>
                                        <td>3</td>
                                        <td>1.05.20</td>
                                        <td>3.05.20</td>
                                        <td>Approved</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>personal</td>
                                        <td>3</td>
                                        <td>1.05.20</td>
                                        <td>3.05.20</td>
                                        <td>Approved</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>personal</td>
                                        <td>3</td>
                                        <td>1.05.20</td>
                                        <td>3.05.20</td>
                                        <td>Approved</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br><br><br>
                    </ng-container>
                    

                    <ng-container *ngIf="displayFunctionCode == '1';">
                        <div class="row no-gutters" style="margin-left: 180px;">
                            <div class="col-12 no-gutters">
                                <button class="yellow-btn" (click)= "onApply('2')">Back</button>
                                <form>
                                <div class="row no-gutters form-content">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <h4 style="color: white;">Employee ID</h4>
                                            <input type="text" #employeeid class="form-control input-text" required>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <h4 style="color: white;">Type of Leave</h4>
                                            <select class="form-control input-text" #leavetype> 
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row no-gutters form-content">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <h4 style="color: white;">From </h4>
                                            <input type="date" #fromdate class="form-control input-text" required>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <h4 style="color: white;">To</h4>
                                            <input type="date" #todate class="form-control input-text" required>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row no-gutters form-content">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <h4 style="color: white;">Reason</h4>
                                            <input type="text" #firstname class="form-control input-text" style="width:85%;">
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row no-gutters form-content">
                                    <div class="col-4">
                                        
                                    </div>
                                    <div class="col-4">
                                        <!--<div *ngIf="showProgressBar;else other_content">
                                            <div style="padding-left: 20%;">
                                                <div class="lds-roller" ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                            </div>
                                        </div>-->
                                        <ng-template #other_content>
                                            <button type="submit" class="form-btn btn-warning" 
                                            >Submit</button>
                                        </ng-template>
                                        
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div><br><br><br>
                    </ng-container>
                </div>            
        </div>
    </body>
</html>
